.item
{
  list-style: none;
  background-color:rgba(0, 0, 0, .8);
  height: 90vh;
  width: 100%;
}
.item-list
{
  padding-right: 2vw;
  padding-top: 60%;
  font-weight: bold;
  font-size: 1.5vw;
  color: white;
}
