<div class="container-fluid shadow p-3 mb-5 rounded">
  <div class="row margin mt-5">
    <div class="col-3   shadow p-3 mb-5  rounded background m-3" *ngFor="let item of dummyData">
      <p class="text-white bg-dark  shadow p-3 mb-5 rounded background m-3">Name: {{item.name}}</p>
      <p class="text-dark shadow p-3 mb-5  rounded background m-3">Email: {{item.email}}</p>
    </div>
    <div class="col-3   shadow p-3 mb-5  rounded background m-3">
      <p class="text-white bg-dark  shadow p-3 mb-5  rounded background m-3 ">Name: Nikita</p>
      <p class="text-dark  shadow p-3 mb-5  rounded background m-3">Email: nikita@gmail.com </p>
    </div>
  </div>
</div>
