.form-info
{
  font-size: 1rem;
  font-weight: bold;
}
.required
{
  color: red;
}
input.ng-invalid
{
  border-left:5px solid red;
}
input.ng-valid
{
  border-left: 5px solid green;
}
textarea.ng-invalid
{
  border-left:5px solid red;
}
textarea.ng-valid
{
  border-left:5px solid green;
}
select.ng-invalid
{
  border-left:5px solid red;
}
select.ng-valid
{
  border-left:5px solid green;
}
.errorColor
{
  color: red;
  font-weight: bold;
}
