<nav class="navbar fixed-top  navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" >IncubXperts</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link text-white active" aria-current="page">About</a>
        <a class="nav-link text-white">Contact</a>
        <a class="nav-link text-white" >Login</a>
        <a class="nav-link text-white">Registration</a>
        <a class="nav-link text-white" (click)="Logout()" href="">Logout</a>
      </div>
    </div>
  </div>
</nav>
