<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-12 bg-light">
      <h3 class="heading">ABOUT US</h3>
    </div>
  </div>
  <div class="row mt-3 shadow p-3 mb-5  rounded background">
    <div class="col-4 ">
      <img class="img" width="100px" height="100px">
    </div>
    <div class="col-8 bg-light">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic iure provident odit porro ducimus animi quos quas
        exercitationem ipsum dolores libero doloribus repellendus voluptates, cumque nam, laboriosam deleniti nulla
        quia.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic iure provident odit porro ducimus animi quos quas
          exercitationem ipsum dolores libero doloribus repellendus voluptates, cumque nam, laboriosam deleniti nulla
          quia.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic iure provident odit porro ducimus animi quos quas
            exercitationem ipsum dolores libero doloribus repellendus voluptates, cumque nam, laboriosam deleniti nulla
            quia.</p>
    </div>
  </div>
  <div class="row mt-2 shadow p-3 mb-5  rounded background">
    <div class="col-4 ">
      <img class="img" width="100px" height="100px">
    </div>
    <div class="col-8 bg-light">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic iure provident odit porro ducimus animi quos quas
        exercitationem ipsum dolores libero doloribus repellendus voluptates, cumque nam, laboriosam deleniti nulla
        quia.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic iure provident odit porro ducimus animi quos quas
          exercitationem ipsum dolores libero doloribus repellendus voluptates, cumque nam, laboriosam deleniti nulla
          quia.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic iure provident odit porro ducimus animi quos quas
            exercitationem ipsum dolores libero doloribus repellendus voluptates, cumque nam, laboriosam deleniti nulla
            quia.</p>
    </div>
  </div>
</div>
