h1{
  margin-top: 5%;
}
.heading
{
  text-align: center;
  margin-top: 5%;
}
.img
{
  background-image: url('./header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width:400px;
  height: 300px;
  border-radius: 1vw;
  border-style: none;
  border-color: black;
}
