.item
{
  list-style: none;
  height: 90vh;

}
.list-item
{
  padding-top: 2%;
  padding-top: 85%;
}
.sidebar
{
  width: 10vw;
height: 90vh;
background-color: rgba(0, 0, 0, .8)
}
.font
{
  font-size: 1.4vw;
}
