<div class="container-fluid sidebar float-start">
  <div class="row  text-white">
    <div class="col-12 mt-5 text-center font">Home</div>
  </div>
  <div class="row   text-white ">
    <div class="col-12 mt-5 text-center font">About</div>
  </div>
  <div class="row   text-white">
    <div class="col-12 mt-5 text-center font">Carrer</div>
  </div>
  <div class="row  text-white">
    <div class="col-12 mt-5 text-center font">Contact</div>
  </div>
  <div class="row  text-white ">
    <div class="col-12 mt-5 text-center font">Profile</div>
  </div>
</div>
