<nav class="navbar navbar-expand-sm navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">IncubXperts</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
       <img class="nav-link img">
        <span class="nav-link text-white">ved<br> <span>email</span></span>
      </div>
    </div>
  </div>
</nav>

