<div class="container-fluid">
  <h3 class="text-center">Edit Your Profile</h3>
  <form class="mt-4" [formGroup]="editProfile">
    <div class="row">
      <span class="form-info">Basic Info</span>
      <div class="col-2 mt-4"><label for="employeeNo">Employee No<span class="required">*</span></label></div>
      <div class="col-4 mt-4">
        <input class="form-control" type="text" id="employeeNo" formControlName="employeeNo">
        <!-- [class.is-invalid]="basicInformation?.invalid && basicInformation?.touched" -->
        <!-- <span *ngIf="(employeeNo['employeeNo']?.invalid && employeeNo['employeeNo']?.touched)||(employeeNo['employeeNo']?.errors?.['maxlength'])" class="errorColor">Invalid</span> -->
        <!-- <div *ngIf="(basicInformation?.invalid && basicInformation?.touched) || basicInformation?.dirty">
          <small *ngIf="basicInformation?.errors?.['required']" class="text-danger">This Field is required</small>
          <small *ngIf="basicInformation?.errors?.['maxlength']" class="text-danger">Maxmimum 10 digit allowed</small>
           <small *ngIf="basicInformation?.errors?.['pattern']" class="text-danger">Please provide a valid email address</small> -->
        <!--</div> -->
        <span
          *ngIf="employeeNo['employeeNo']?.errors?.['required'] && (employeeNo['employeeNo']?.touched || employeeNo?.['employeeNo']?.dirty)"
          class="errorColor">This field is required</span>
        <span *ngIf="(employeeNo['employeeNo']?.errors?.['maxlength'])" class="errorColor">maxmimum 10 character
          allowed</span>
      </div>
      <div class="col-2 mt-4"><label for="firstName">First Name<span class="required">*</span></label></div>
      <div class="col-4 mt-4">
        <input class="form-control" type="text" id="firstName" name="firstName" formControlName="firstName">
        <span
          *ngIf="employeeNo['firstName']?.errors?.['required'] && (employeeNo['firstName']?.touched || employeeNo?.['firstName']?.dirty)"
          class="errorColor">This field is required</span>
        <span *ngIf="(employeeNo['firstName']?.errors?.['maxlength'])" class="errorColor">maxmimum 10 character
          allowed</span>
      </div>
    </div>
    <div class="row">
      <div class="col-2 mt-4"><label for="middleName">Middle Name</label></div>
      <div class="col-4 mt-4">
        <input class="form-control" type="text" id="middleName" name="middleName" formControlName="middleName">
        <span
          *ngIf="employeeNo['middleName']?.errors?.['required'] && (employeeNo['middleName']?.touched || employeeNo?.['middleName']?.dirty)"
          class="errorColor">This field is required</span>
        <span *ngIf="(employeeNo['middleName']?.errors?.['maxlength'])" class="errorColor">maxmimum 10 character
          allowed</span>
      </div>
      <div class="col-2 mt-4"><label for="lastName">Last Name<span class="required">*</span></label></div>
      <div class="col-4 mt-4">
        <input class="form-control" type="text" id="lastName" name="lastName" formControlName="lastName">
        <span
          *ngIf="employeeNo['lastName']?.errors?.['required'] && (employeeNo['lastName']?.touched || employeeNo?.['lastName']?.dirty)"
          class="errorColor">This field is required</span>
        <span *ngIf="(employeeNo['lastName']?.errors?.['maxlength'])" class="errorColor">maxmimum 10 character
          allowed</span>
      </div>
    </div>
    <div class="row mt-4">
      <span class="form-info">Work</span>
      <div class="col-2 mt-4"><label for="departMent">Depart Ment<span class="required">*</span></label></div>
      <div class="col-4 mt-4">
        <input class="form-control" type="text" id="departMent" name="departMent" formControlName="departMent">
        <span
          *ngIf="employeeNo['departMent']?.errors?.['required'] && (employeeNo['departMent']?.touched || employeeNo?.['departMent']?.dirty)"
          class="errorColor">This field is required</span>
        <span *ngIf="(employeeNo['departMent']?.errors?.['maxlength'])" class="errorColor">maxmimum 10 character
          allowed</span>
      </div>
      <div class="col-2 mt-4"><label for="Location">Location<span class="required">*</span></label></div>
      <div class="col-4 mt-4">
        <input class="form-control" type="text" id="Location" name="Location" formControlName="Location">
        <span
          *ngIf="employeeNo['Location']?.errors?.['required'] && (employeeNo['Location']?.touched || employeeNo?.['Location']?.dirty)"
          class="errorColor">This field is required</span>
        <span *ngIf="(employeeNo['Location']?.errors?.['maxlength'])" class="errorColor">maxmimum 10 character
          allowed</span>
      </div>
    </div>
    <div class="row">
      <div class="col-2 mt-4"><label for="workPhone">Workphone</label></div>
      <div class="col-4 mt-4">
        <input class="form-control" type="text" id="workPhone" name="workPhone" formControlName="workPhone"
          oninput="this.value=this.value.replace(/[^0-9 .]/g,'')" maxlength="10">
        <span
          *ngIf="employeeNo['workPhone']?.errors?.['required'] && (employeeNo['workPhone']?.touched || employeeNo?.['workPhone']?.dirty)"
          class="errorColor">This field is required and only digit allowed</span>
        <span *ngIf="(employeeNo['workPhone']?.errors?.['maxlength'])" class="errorColor">maxmimum 10 character
          allowed</span>
      </div>
      <div class="col-2 mt-4"><label for="salaryRevision">Salary Revision Due On</label></div>
      <div class="col-4 mt-4">
        <input class="form-control" type="date" id="salaryRevision" name="salaryRevision"
          formControlName="salaryRevision" (keyup)="SalaryDate()">
        <span
          *ngIf="employeeNo['salaryRevision']?.errors?.['required'] && (employeeNo['salaryRevision']?.touched || employeeNo?.['salaryRevision']?.dirty)"
          class="errorColor">This field is required</span>
          <span *ngIf="(salaryYear < currentYear )?'':Error" class="errorColor">salaryRevision year should be  less not greater
            than joinningDate</span>
      </div>
    </div>
    <div class="row">
      <div class="col-2 mt-4"><label for="dateOfJoining">Date Of Joining<span class="required">*</span></label></div>
      <div class="col-4 mt-4">
        <input class="form-control" [style.color]="(currentYear > 2022)?Error:Valid" type="date" id="dateOfJoining"
          name="dateOfJoining" formControlName="dateOfJoining" (keyup)="joinningDate()">
        <span
          *ngIf="employeeNo['dateOfJoining']?.errors?.['required'] && (employeeNo['dateOfJoining']?.touched || employeeNo?.['dateOfJoining']?.dirty)"
          class="errorColor">This field is required</span>
        <span *ngIf="(currentYear > 2022)?Error:''" class="errorColor">Joinning year should be same or less not greater
          than current year</span>
      </div>
    </div>
    <div class="row mt-4" formGroupName="personal">

      <span class="form-info">Personal</span>
      <div class="row">
        <div class="col-2 mt-4"><label for="mobile">Mobile Phone</label></div>
        <div class="col-4 mt-4">
          <input class="form-control" type="text" id="mobile" name="mobile" formControlName="mobile"
            oninput="this.value=this.value.replace(/[^0-9 .]/g,'')" maxlength="10">
          <!-- <div *ngIf="personal?.invalid && (personal?.dirty ||personal?.touched)">
          <div [hidden]="personal?.errors?.['required']" class="errorColor">This field is required</div>
        </div> -->
          <span
            *ngIf="(personal.controls['mobile']?.invalid)&& (personal.controls['mobile']?.touched || personal.controls['mobile']?.dirty ) ||(personal.controls['mobile']?.errors?.['maxlength'])"
            class="errorColor">field should not be null and only 10 digit allowed</span>
        </div>
        <div class="col-2 mt-4"><label for="address">Address</label></div>
        <div class="col-4 mt-4">
          <input class="form-control" type="text" id="address" name="address" formControlName="address">
          <span
            *ngIf="(personal.controls['address']?.invalid)&& (personal.controls['address']?.touched || personal.controls['address']?.dirty ) ||(personal.controls['address']?.errors?.['maxlength'])"
            class="errorColor">field should not be null</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-4"><label for="otherEmail">Other Email</label></div>
        <div class="col-4 mt-4">
          <input class="form-control" type="text" id="otherEmail" formControlName="otherEmail">
          <span
            *ngIf="(personal.controls['otherEmail']?.invalid && personal.controls['otherEmail'].touched)||(personal.controls['otherEmail']?.errors?.['maxlength']|| personal.controls['otherEmail']?.errors?.['pattern'])"
            class="errorColor">field should not be null or fill proper email</span>
        </div>
        <div class="col-2 mt-4"><label for="tags">Tags</label></div>
        <div class="col-4 mt-4">
          <input class="form-control" type="text" id="tags" name="tags" formControlName="tags">
          <span *ngIf="(personal.controls['tags']?.invalid && personal.controls['tags']?.touched)"
            class="errorColor">field should not be null</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-4"><label for="birthDate">Birth Date</label></div>
        <div class="col-4 mt-4">
          <input class="form-control" type="date" id="birthDate" name="birthDate" formControlName="birthDate"
            (click)="ageCalculate()">
          <span *ngIf="(personal.controls['birthDate']?.invalid && personal.controls['birthDate']?.touched)"
            class="errorColor">field should not be null</span>
        </div>
        <div class="col-2 mt-4"><label for="currentTshirtSize">Current T-shirt Size</label></div>
        <div class="col-4 mt-4">
          <select class="form-control" id="currentTshirtSize" name="currentTshirtSize"
            formControlName="currentTshirtSize">
            <option>-select t-shirt size-</option>
            <option *ngFor="let item of tshirtsSize | keyvalue">{{item.value}}</option>
          </select>
          <span
            *ngIf="(personal.controls['currentTshirtSize']?.invalid && personal.controls['currentTshirtSize']?.touched)"
            class="errorColor">field should not be null</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-4"><label for="martialStatus">Martial Status</label></div>
        <div class="col-4 mt-4">
          <select class="form-control" id="martialStatus" name="martialStatus" formControlName="martialStatus">
            <option>-select-</option>
            <option>single</option>
            <option>single</option>
            <option>single</option>
          </select>
          <span *ngIf="(personal.controls['martialStatus']?.invalid && personal.controls['martialStatus']?.touched)"
            class="errorColor">field should not be null</span>
        </div>
        <div class="col-2 mt-4"><label for="bloodGroup">Blood Group</label></div>
        <div class="col-4 mt-4">
          <select class="form-control" id="bloodGroup" name="bloodGroup" formControlName="bloodGroup">
            <option>-select blood group-</option>
            <option *ngFor="let item of bloodGroup | keyvalue ">{{item.value}}</option>
          </select>
          <span *ngIf="(personal.controls['bloodGroup']?.invalid && personal.controls['bloodGroup']?.touched)"
            class="errorColor">field should not be null</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-4"><label for="currentAge">Age</label></div>
        <div class="col-4 mt-4">
          <input class="form-control" [style.color]="(age < 18)?Error:Valid" type="text" id="currentAge"
            name="currentAge" value={{age}} formControlName="currentAge">
          <span *ngIf="(age < 18 )?Error:''" class="errorColor">Age should be greater than 18</span>
        </div>
      </div>
    </div>
    <div class="row mt-4" formGroupName="summery">
      <span class="form-info">Summary</span>
      <div class="row">
        <div class="col-2 mt-4"><label for="jobDescription">Job Description</label></div>
        <div class="col-4 mt-4">
          <textarea class="form-control" rows="1" id="jobDescription" name="jobDescription"
            formControlName="jobDescription"></textarea>
          <span *ngIf="summery.controls['jobDescription']?.invalid && summery.controls['jobDescription']?.touched"
            class="errorColor">This field is required</span>
        </div>
        <div class="col-2 mt-4"><label for="aboutMe">About Me</label></div>
        <div class="col-4 mt-4">
          <textarea class="form-control" rows="1" id="aboutMe" name="aboutMe" formControlName="aboutMe"></textarea>
          <span *ngIf="summery.controls['aboutMe']?.invalid && summery.controls['aboutMe']?.touched"
            class="errorColor">This field is required</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-4"><label for="expertise">Ask me about/Expertise</label></div>
        <div class="col-4 mt-4">
          <textarea class="form-control" rows="1" id="expertise" name="expertise"
            formControlName="expertise"></textarea>
          <span *ngIf="summery.controls['expertise']?.invalid && summery.controls['expertise']?.touched"
            class="errorColor">This field is required</span>
        </div>
        <div class="col-2 mt-4"><label for="presentAddress">Present Address</label></div>
        <div class="col-4 mt-4">
          <textarea class="form-control" rows="1" id="presentAddress" name="presentAddress"
            formControlName="presentAddress"></textarea>
          <span *ngIf="summery.controls['presentAddress']?.invalid && summery.controls['presentAddress']?.touched"
            class="errorColor">This field is required</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-4"><label for="residencePhone">Residence phone</label></div>
        <div class="col-4 mt-4">
          <input class="form-control" type="text" id="residencePhone" name="residencePhone"
            formControlName="residencePhone" oninput="this.value=this.value.replace(/[^0-9 .]/g,'')" maxlength="10">
          <span
            *ngIf="(summery.controls['residencePhone']?.invalid)&& (summery.controls['residencePhone']?.touched || summery.controls['residencePhone']?.dirty ) ||(summery.controls['residencePhone']?.errors?.['maxlength'])"
            class="errorColor">field should not be null and only 10 digit allowed</span>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <span class="form-info">Work experience
        <button class="float-end me-4 fs-4 btn btn-primary"(click)="addNewForm()">+</button>
        </span>
      <div class="col-2">Previous Company Name</div>
      <div class="col-2">Job Title</div>
      <div class="col-2">From Date</div>
      <div class="col-2">To Date</div>
      <div class="col-2">Job Description</div>
      <div class="col-2">Relevance</div>
    </div>
    <div formArrayName="workexperience" class="row" *ngFor="let itemrow of  formArr.controls;  let i=index"
      >
      <span><button class=" float-end me-4 fs-3 btn btn-danger"(click)="removeForm(i)">-</button></span>
      <div class="row" formGroupName="{{i}}">
        <div class="form-group col-2">
          <input class="auto form-control" type="text" formControlName="previousCompanyName">
          <span
            *ngIf="f['previousCompanyName']?.errors?.['required'] && f['previousCompanyName']?.touched "
            class="errorColor">This field is
            required</span>
        </div>
        <div class="form-group col-2">
          <input class="form-control" type="text" name="jobTitle" formControlName="jobTitle">
          <span *ngIf="fEmp['jobTitle']?.errors?.['required'] && fEmp['jobTitle']?.touched"
            class="errorColor">This field is
            required</span>
        </div>
        <div class="form-group col-2">
          <input class="form-control" type="date" name="fromDate" formControlName="fromDate" (click)="fromDate()">
          <!-- <span *ngIf="f['fromDate']?.errors?.['required'] &&(f['fromDate']?.touched || f['fromDate']?.dirty ) "
            class="errorColor">This field is
            required</span>
          <span *ngIf="(currentFromDate > 2022 || selectFromMonth > currentFromMonth)?Error:''" class="errorColor">From
            date can not greater than present year or monthS</span> -->
        </div>
        <div class="form-group col-2">
          <input class="form-control" type="date" name="toDate" formControlName="toDate" (click)="toDate()">
          <!-- <span *ngIf="f['toDate']?.errors?.['required'] &&(f['toDate']?.touched || f['toDate']?.dirty ) "
            class="errorColor">This field is
            required</span>
          <span
            *ngIf="(currentToDate > 2022 || selectToMonth > currentToMonth  || currentToDate < currentFromDate)?Error:''"
            class="errorColor">To date can not greater than present year or monthS and can not be smaller than Form date
            value</span> -->
        </div>
        <div class="form-group col-2">
          <input class="form-control" type="text" name="jobDescriptions" formControlName="jobDescriptions">
          <!-- <span
            *ngIf="f['jobDescriptions']?.errors?.['required'] &&(f['jobDescriptions']?.touched || f['jobDescriptions']?.dirty ) "
            class="errorColor">This field is
            required</span> -->
        </div>
        <div class="form-group col-2">
          <select class="form-control " name="relevance" formControlName="relevance">
            <option>yes</option>
          </select>

          <!-- <span *ngIf="f['relevance']?.errors?.['required'] &&(f['relevance']?.touched || f['relevance']?.dirty ) "
            class="errorColor">This field is
            required</span> -->
        </div>
      </div>
    </div>
  </form>
  <div class="row mt-4">
    <div class="col">
      <input class="btn btn-primary w-100" type="submit" value="Update" data-bs-toggle="modal"
        data-bs-target="#exampleModal" (click)="onSubmit()">
    </div>
  </div>
  <!-- Model -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Profile Data</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <p>Employee No:<span> {{editProfile.value.employeeNo}}</span>
            <p>
          </div>
          <div class="row">
            <p>First name:<span> {{editProfile.value.firstName}}</span></p>
          </div>
          <div class="row">
            <p>Last name:<span> {{editProfile.value.lastName}}</span></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Check</button>
        </div>
      </div>
    </div>
  </div>
</div>
