<div class="container section">
  <h1 class="section-heading">CASE STORIES</h1>
  <hr class="hr-line">
  <div class="row">
    <div class="col">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Rerum eum dolores dolore ipsam sed soluta excepturi ipsa dignissimos ea aperiam molestias temporibus illum
        corrupti beatae molestiae sapiente expedita,
        quis repellendus!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Rerum eum dolores dolore ipsam sed soluta excepturi ipsa dignissimos ea aperiam molestias temporibus illum
        corrupti beatae molestiae sapiente expedita,
        quis repellendus!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Rerum eum dolores dolore ipsam sed soluta excepturi ipsa dignissimos ea aperiam molestias temporibus illum
        corrupti beatae molestiae sapiente expedita,
        quis repellendus!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Rerum eum dolores dolore ipsam sed soluta excepturi ipsa dignissimos ea aperiam molestias temporibus illum
        corrupti beatae molestiae sapiente expedita,
        quis repellendus!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Rerum eum dolores dolore ipsam sed soluta excepturi ipsa dignissimos ea aperiam molestias temporibus illum
        corrupti beatae molestiae sapiente expedita,
        quis repellendus!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Rerum eum dolores dolore ipsam sed soluta excepturi ipsa dignissimos ea aperiam molestias temporibus illum
        corrupti beatae molestiae sapiente expedita,
        quis repellendus!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Rerum eum dolores dolore ipsam sed soluta excepturi ipsa dignissimos ea aperiam molestias temporibus illum
        corrupti beatae molestiae sapiente expedita,
        quis repellendus!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Rerum eum dolores dolore ipsam sed soluta excepturi ipsa dignissimos ea aperiam molestias temporibus illum
        corrupti beatae molestiae sapiente expedita,
        quis repellendus!</p>
    </div>
  </div>
</div>
