.sidebar
{
  margin-top: 35%;
  margin-bottom: -14%;
}
.item
{
  list-style: none;
  background-color:rgba(0, 0, 0, .8);
  height: 91.2vh;
  width: 100%;
}
.item-list
{
  padding-right: 2vw;
  padding-top: 70px;
  font-weight: bold;
  font-size: 1.5vw;
  color: white;
}
