<div class="container-fluid form">
  <h3 class="mb-3">Add Details</h3>
  <form>
    <div class="row pb-2">
      <div class="col">
        <input class="form-control" type="text" name="firstName" id="firstName" placeholder="-first name-">
      </div>
    </div>
    <div class="row pb-2">
      <div class="col">
        <input class="form-control" type="text" name="lastName" id="lastName" placeholder="-last name-">
      </div>
    </div>
    <div class="row pb-2">
      <div class="col">
        <input class="form-control" type="text" name="email" id="email" placeholder="-email-">
      </div>
    </div>
    <div class="row pb-2">
      <div class="col">
        <input class="form-control btn btn-primary" type="submit" value="Add">
      </div>
    </div>
  </form>
</div>
